/* Стили кнопок */
.button {
    border: 0px;
    font-size: 16px;
    border-radius: 13px;
    color: #ffffff;
    margin-left: 32px;
}

.buttons__secondary-titles {
  margin-left: 120px;
  margin-bottom: 28px;
  font-size: 18px;
}

.buttons__secondary-titles-title {
 margin-right: 35px;
}

.buttons__body--line {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.buttons__body--line-title {
      width: 80px;
}

.buttons {
  width: 480px;
  padding: 20px 16px;
  vertical-align: top;
}

.buttons__info {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
}

.button--theme-green {
  background-color: #1CC660;
  color: #FFFFFF;
}

.button--theme-white {
  background-color: #FFF;
  color: #1CC660;
}

.button--theme-border {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

.button--size-small {
  padding: 8px 18px;
  font-size: 16px;
}

.button--size-large {
  padding: 16px 32px;
  font-size: 24px;
}

.button-none {
  opacity: 0;
}

.button--cond-disabled {
  background-color: transparent;
  border: 2px solid #B8B8B8;
  color: #B8B8B8;
}

.button--cond-hover-small {
  background-color: #000;
  border: 0px;
  color: #FFF;
}

.button--cond-hover-large {
  background-color: #FFF;
  border: 2px solid #1CC660;
  color: #1CC660;
}

.button__img {
   width: 20px;
   margin-left: 8px;
   border-radius: 50px;

}

.button--google {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px 64px;
   font-size: 14px; 
}

.button--google-hover {
   margin-top: 8px;
   margin-bottom: 20px;
   color: #FFF;
   background-color: transparent;
   border: 2px solid #FFF;
}
