.modal-window {
    margin-top: 28px;
}

.modal-window__body {
    margin: 32px 32px 32px 48px;
}

.items__title {
    font-family: "Unbounded","TT NORMS PRO","Trebuchet MS",sans-serif;
    font-size: 32px;
}

.modal-window__body__items {
    background-color: #FFF;
    border: 2px solid #000;
    padding: 32px 32px 32px 32px;
    border-radius: 28px;
    width: 522px;
}

.caption {
    display: flex;
    margin-top: 28px;
    align-items:flex-start;

}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #FFF9C4;
}

.items__caption--text {
    color: #000;
    margin-left: 200px;
    margin-right: 100px;
}

.modal-window-small {
    background-color: #FFF;
    border: 2px solid #000;
    margin-bottom: 0px;
    padding: 8px;
    border-radius: 6px;

}


.modal-window-small1 {
    background-color: #FFF;
    border: 2px solid #000;
    margin-bottom: 0px;
    padding: 8px;
    border-radius: 6px;
}

.hiden-window {
    display: none;
}

.open-window {
    display: block;
}