.main-title {
    color: #1CC660;
    font-size: 64px;
    margin-bottom: 28px;
    font-family: "Unbounded","TT NORMS PRO","Trebuchet MS",sans-serif;
    text-align: center;
}

.ui-kit {
    margin: 40px 40px;
}

.block {
    background-color: #dfdfdf;
    border: 2px dashed #BBB;
    border-radius: 13px;
    display: inline-block;
 }
 
/* Блок кнопок */
 .buttons {
   width: 480px;
   padding: 20px 16px;
   vertical-align: top;
 }
 
 .buttons__info {
     width: 390px;
     margin-left: auto;
     margin-right: auto;
 }
 
.text {
   font-family: Suisse Intl;
 }
 
 .block__title {
   font-size: 28px;
 }
 
 .buttons__secondary-titles {
   margin-left: 120px;
   margin-bottom: 28px;
   font-size: 18px;
 }
 
 .buttons__secondary-titles-title {
  margin-right: 35px;
 }
 
 .buttons__body--line {
   display: flex;
   align-items: center;
   margin-bottom: 16px;
 }
 
 .buttons__body--line-title {
       width: 80px;
 }
 
 
/* Блок модальных окон */