.main-title {
    color: #1CC660;
    font-size: 64px;
    margin-bottom: 28px;
    font-family: "Unbounded","TT NORMS PRO","Trebuchet MS",sans-serif;
    text-align: center;
}

.ui-kit {
    margin: 40px 40px;
}

.block {
    background-color: #dfdfdf;
    border: 2px dashed #BBB;
    border-radius: 13px;
    display: inline-block;
 }
 

.text {
   font-family: Suisse Intl;
 }
 
 .block__title {
   font-size: 28px;
 }
 